$deepBlack: #1c1d1f;
$white: #fff;
$black: #000;
$gray: #d1d7dc;
$deepPurple: #8710d8;
$purple: #a435f0;
$lightPurple: #cec0fc;

$iconGray: #d1d7dc;
$toolTipBg: #1c1d1f;
$toolTipBorder: #3e4143;
$popModelBg: #2d2f31;
