doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 
    h2 Setting your speed range bar value.
    p Default Speed :
    input(type="number" min="0.0" id="default" step="0.1")
    p Slider interval :
    input(type="number" min="0.0" id="sInterval" step="0.1")
    p Max Speed : The value must large than 0 and less than 10.
    input(type="number" min="0.0" id="max" step="0.1")
    p Min Speed : The value must large.
    input(type="number" min="0.0" id="min" step="0.1")
    br
    br
    button(id="save") Save
