@import "theme/color.scss";

body {
  margin: 10px;
}

.slider-container {
  width: 420px;
}

.feature-title {
  font-size: 16px;
}

.slider-bar {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

#slider {
  -webkit-appearance: none;
  appearance: none;
  height: 12px;
  width: 200px;
  border-radius: 10em;
  background-color: $lightPurple;
  margin: 0 10px;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $purple;
  cursor: pointer;
}

#slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $deepPurple;
  cursor: pointer;
}

#output {
  color: $deepBlack;
  font-size: 18px;
}
